.text {
    font-family: "Gill Sans";
    color: aliceblue;
}
.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.friends a {
    color: aliceblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.friends img{
	margin: 5px;
}
